body {
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
}

:root{
    --maim-color: #180167;
    --second-color: #e94560;
    --third-color: #ffb200;
    --fourth-color: #4f1787;
    font-family:Arial, Helvetica, sans-serif;

}

h1 {
    color: white;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    animation: textGlow 1.5s ease-in-out infinite alternate;
}
header {
    background-color: var(--maim-color);
    color: white;
    padding: 15px 0;
}
.hero {
    background: url('../bilder/1.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
    height: 100vh;
}


.jumbotron {
    background-color: var(--maim-color);
    color: var(--third-color);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    text-align: center;
}
footer {
    background-color: var(--maim-color);
    color: white;
    text-align: center;
    padding: 15px 0;
}
.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#about p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.8;
}

@keyframes textGlow {
    from {
        text-shadow: 0 0 10px #0056b3;
    }
    to {
        text-shadow: 0 0 20px #007bff;
    }
}

.social-icons a {
    margin-right: 10px;
    font-size: 24px;
    color: var(--fourth-color);
    transition: color 0.3s;
}
.social-icons a:hover {
    color: var(--second-color);
    }

.scroll-to-top {
    position: fixed;
    bottom: 20px; /* Abstand vom unteren Rand */
    right: 20px; /* Abstand vom rechten Rand */
    padding: 12px 24px;
    background-color: var(--second-color); /* Hintergrundfarbe der Schaltfläche */
    color: #000000; /* Textfarbe */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Entfernt Unterstreichung bei Links */
    cursor: pointer;
    font-size: 16px;
    z-index: 1000; /* Damit die Schaltfläche über anderen Elementen liegt */
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Schatteneffekt */
}

.scroll-to-top:hover {
    background-color: var(--third-color); /* Hintergrundfarbe beim Hover */
}

.scroll-to-top:focus {
    outline: 2px solid #ffffff; /* Sichtbare Umrandung bei Fokus */
    outline-offset: 2px;
}

.audio-dropdown {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1030;
}

.btn-audio {
    background-color: black; /* Rot */
    color: white;
}
.btn-audio:focus {
    outline: 2px solid #ffffff; /* Weißer Fokusrahmen */
    outline-offset: 2px;
}